{% load static %}
{% static "images" as baseUrl %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>leave mangement</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

  <style type="text/css">
    .h2a{
     
           font-size: 20px;
      background-color: black;
      text-align: center;
      font-color: yellow;

    }
   .h2{
      color:blue;
    }
    
.glyphicon {

    font-size: 20px;
   
}
.f{
   font-size: 20px;

}

  .img{
    border-radius: 60%;
     text-align: center;
  }
 .color{
      
      color: blue;
      margin-left: 1%;
      margin-right: 25%;
      margin-top: 2%;
      text-align: left;

  }
  .mbc{
    background-color: white;
  }
  </style>
  <script>
function myFunction() {
  var x = document.getElementById("pswd");
  if (x.type === "password") {
    x.type = "text";
  } else {
    x.type = "password";
  }
}
</script>

</head>
<body >
<nav class="navbar navbar-inverse">
  <div class="container-fluid h2a">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#id">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <li class="active"><a href="home.html" class="navbar-brand"><b>LEAVE</b></a></li>
    </div>
    <div class="collapse navbar-collapse" id="id">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#" class="glyphicon glyphicon-home "> <b> Home</b></a></li>
        <li><a href="#"><b>About</b></a></li>
        <li><a href="#"><b>Contact</b></a></li> 
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <button type="button" class=" btn btn-dark btn-md glyphicon glyphicon-user" data-toggle="modal" data-target="#myModal"> LOGIN</button>
      </ul>
    </div>

<div id="myModal" class=" modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    
    <div class="mbc modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h2 class="modal-title" style = "color:blue" >LOGIN</h2>
      </div>
      <div class="modal-body">
        <div class="container">
  <form action ="login" method="post" >
    {% csrf_token %}
    <div class="img col-sm-3 col-sm-offset-3">
     <img src="{% static 'images/l1.jpg'%}" class="img img-circle " height=40% width=30% >
    </div><br><br>
    <div class="form-group color">
      <label for="uname"><b>PER NO:</b></label>
      <input type="text" class="form-control" id="uname"  name="uname"  ><br>
      <label for="pswd"><b>Password:</b></label>
      <input type="password" class="form-control" id="pswd"  name="pswd" >
           <input type="checkbox" onclick="myFunction()" style="font-size:40px">show<br><br>
      <button type="submit" class="btn btn-primary"  >Submit</button><br><br>
      <a href="#" > Forgot password?</a>
    </div>
    </form>
</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
  </div>
</nav>
<div>
<img  src="{% static 'images/home.png'%}" alt="Card image" style="width:100%"></div>
</body>
</html>